<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assests/css/style.css">
    <title>calculator</title>
</head>
<body>
    <div class="calculator">
        <input  class="equation" type="textarea" name="monitor" id="monitor" placeholder="0" pattern="[0-9*/+-]">
        <button class="ac">AC</button>
        <button class="division"calcu>/</button>
        <button class="seven" calcu>7</button>
        <button class="eight" calcu>8</button>
        <button class="nine" calcu>9</button>
        <button class="multiplication" calcu>&#215</button>
        <button class="four" calcu>4</button>
        <button class="five" calcu>5</button>
        <button class="six" calcu>6</button>
        <button class="minus" calcu>-</button>
        <button class="one" calcu>1</button>
        <button class="two" calcu>2</button>
        <button class="three" calcu>3</button>
        <button class="plus"calcu>+</button>
        <button class="zero" calcu>0</button>
        <button class="equal">=</button>
    </div>
    <script src="../js/functions.js"></script>
</body>
</html>
